* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(https://i.pinimg.com/564x/08/ab/cc/08abcc662eb7f312dfcb1903d8707e1d.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    width: 300px;
    padding: 20px;

}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
    background-color: #00c3ff;
    list-style: none;
    font-family: 'Courier New', Courier, monospace
    display: flex;
}

a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.container-grid {
    background-color: rgba(78, 238, 50, 0.551);
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

main section {
       display: flex;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #00c3ff;  
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  
background: linear-gradient(to right, #ffff1c, #00c3ff); 

}

main h2 {

}
main section h2 {
    text-align: center;
    padding: 5px;
    display: inline-block;
    position: relative;
}


main h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
    background-color: #00c3ff;
    background: -webkit-linear-gradient(to left, #ffff1c, #00c3ff);  
background: linear-gradient(to left, #ffff1c, #00c3ff); 
}

h2 {
    padding: 5px;
}

p {
    padding: 10px;
}

main section img {
    width: 200px;
}
section div img {
    border-radius: 10%;
}

nav {
    display: flex;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
}


.container-grid {
    display: flex;

}

.grid-item {
    background-color: rgba(128, 128, 128, 0.357);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 150px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.grid-item {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.grid-item img {
    width: 100px;
    border-radius: 20%;
    padding: 5%;  
    }

.grid-item p {
    padding: 5px;
}

footer {
    background-color:rgb(8, 8, 118);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

footer div nav ul {
    list-style: none;

}

footer div nav ul li {
    padding: 20px;
    margin: 5px;

}
@media (max-width:880px) {
    header {
      flex-direction: column;
    }
  }

@media(max-widht: 480px) {
    header {
        flex-direction: column;
    }
}
